.navbar {
  background-color: #F6F6F6;
  padding-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #FFF;

  background-color: #03a9f4;

  font-size: 1.2em;

  transition-duration: 0.4s;
}
/*brand만 css에서 hover 처리*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #03a9f4;

  background-color: #FFF;

  font-size: 1.2em;

  transition-duration: 0.4s;
}

.navbar-menu > * {
  color: #2E2E2E;
  padding: 5px;
  transition-duration: 0.5s;
}
