/*@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html, body {
  background-color: #0E0E0E;

  height: 100%;
}

@media all and (min-width: 1025px) {
  html, body {
    font-size: 17px;
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  html, body {
    font-size: 15px;
  }
}

@media all and (max-width: 768px){
  html, body {
    font-size: 13px;
  }
}

html * {
  font-family: 'Spoqa Han Sans', sans-serif;

  font-style: normal;
}

body *::selection {
  background-color: #A81919;
  color: #FFF;
}

footer {
  background-color: #A81919;

  height: 5px;
}

a.intro-btn-goto-project {
  font-size: 1.3em;

  color: #FFF;
  border-bottom: thick solid #FFF;

  text-decoration: none;

  transition-duration: 0.5s

}
a.intro-btn-goto-project:focus,
a.intro-btn-goto-project:hover {
  color: #FFF;
  text-decoration: none;
  border-bottom-color: #CC3D3D;
  transition-duration: 0.4s;
}
a.intro-btn-goto-project:active {
  color: #FFF;
  text-decoration: none;
  border-bottom-color: #A81919;
  transition-duration: 0.4s;
}

.circle {
  border-radius: 50% 50% 50% 50%;
}

.background_1 {
  background-image: url('img/background_1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main_box:nth-child(2n+1) {
  background-color: #262733;

  color: #FFF;
}

.background_deep_maincolor {
  background-color: #A81919;
}
